body
{
background: #71717e;
padding: 10px 0px 30px 0px;
}


h3 {margin-bottom:0px;}
p {text-align:justify; margin: 10px 10px 0px 10px;}

#main {width:90%; max-width:1200px; margin:0px auto 0px auto;}

#header
{
margin: 0px auto 0px auto;
border-bottom: 3px solid #993333;
}

#title_bar
{
margin: 0px auto 0px auto;
background: #efefe0;
padding: 7px;
font-family: Courier, monospace;
font-weight: bold;
font-size: 2.0em;
text-align: center;
}


#menu
{
margin: 0px auto 0px auto;
background: #efefe0;
font-size: 1.2em;
font-family: Tahoma, Verdana, sans-serif;
text-align: center;
padding: 7px;
padding-bottom: 15px;
}
#menu a:link {color: #000000; font-weight:bold; text-decoration: none}
#menu a:visited {color:#000000; font-weight:bold; text-decoration: none;}
#menu a:hover {text-decoration: underline;}


#menu ul {margin:0px; padding: 5px;}

#menu ul li {display: inline; padding: 5px 7px 0px 7px;}


#page_content
{
position: relative;
margin: 0px auto 0px auto;
background: #efefe0;
border-left: 0px solid #993333;
border-right: 0px solid #993333;
border-bottom: 3px solid #993333;
border-top: 0px;
padding: 15px 35px 35px 35px;
font-family: Calibri, Arial, sans-serif;
font-size: 1.1em;
line-height: 1.3em;
overflow:auto;
}
#page_content p {margin: 0px 0px 15px;}
#page_content a:visited {color: black; font-weight:normal; text-decoration: underline;}
#page_content a:link {color: blue; font-weight:normal; text-decoration: underline;}
#page_content a:hover {text-decoration: none;}
#page_content a:active {background: #CCCC99;}

#page_content h3 {text-align: center;}

#page_content img {border: 2px solid #993333; margin:2px;}

#page_content img.right
{
float: right;
margin: 25px;
margin-right: 10px;
}

#page_content img.left
{
float: left;
margin: 25px;
margin-left: 10px;
}

#right_box
{
position:relative;
float:right;
background:#ffffff;
width:25%;
max-width:203px;
margin-left:15px;
padding:10px;
clear:left;
border: 2px solid #993333;
line-height: 1em;
}

#right_box h3 {margin:2px; text-align:center;}
#right_box p {margin:2px; text-align:center; font-size:.9em;}
#right_box img {border:0px;}

#lower_box
{
position:relative;
float:none;
background:#ffffff;
width:90%;
max-width:600px;
padding:10px;
clear:left;
border: 2px solid #993333;
}

#lower_box h3 {margin:2px; text-align:center;}
#lower_box p {margin:2px; text-align:center; font-size:.9em;}
#lower_box img {border:0px;}


#dummy {float:left; clear:both;width:100%;}


